
   

        <nav class="navbar navbar-expand-sm bg-navbar navbar-primary">

            <ul class = "navbar-nav">
        
              <li>  <a routerLink="payment" routerLinkActive="active" class="nav-link" style="color:black" >Payment List</a>
        
              </li>
        
                <li class = "nav-item">
        
                    <a routerLink="create-payment" routerLinkActive="active" class="nav-link" style="color:black" >Make Payment</a>
        
                </li>
        
            </ul>
        
        </nav>


<div class="container">
    <router-outlet></router-outlet>

</div>
